<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sru.m1itc20_s1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recy_frag.frmRecyler"></activity>
        <activity android:name=".recycler_lis.Mainrecyler" />
        <activity android:name=".Framents_Recycler.MainRecyler" />
        <activity android:name=".fragments_.ViePger" />
        <activity android:name=".fragments_.Minfragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>